
.Nav {
  height: 50pt;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #E9C46A;
}

.Nav a{
  color: #2A9D8F;
  margin-left: 10pt;
  text-decoration: none;
}

.Nav a.active {
  color:#264653;
}

.DogDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25pt;
}
.Dogs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.Dog {
  display: flex;
  flex-direction: column;
  margin: 25pt;
}

li {
  list-style-type: none;
}
img {
  width: 200px;
}
